html {
    background-color: #fbf3f3;
}


.about {
    display: flex;
    padding:0 80px;
    align-items: center;
    height: 100vh;
}

.image-box {
    flex: 1 1 30%;
    padding-right: 4vw;
}

.text-box {
    flex: 1 1 40%;
    padding-left: 4vw;
}

img{
    width: 100%;
}

h1{
    font-size: 9vw;
    line-height: 7.5vw;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

h2{
    font-size: 2.5vw;
    line-height: 2.8vw;
}

p{
    font-size: 1.4vw;
}


@media (max-width: 600px){
    h1{
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
    }

    h2{
        font-size: 13px;
        line-height: 17px;
    }

    p{
        font-size: 13px;
       text-transform: none;
        width: 100%;
    }

    .about{
        flex-wrap: wrap;
        flex-direction: row;

    }

    .image-box{
        flex:1 1 100%;
        padding-left:0;
        width: 100%;
        padding: 0 10vw;
    }
    .text-box{
        flex: 1 1 100%;
        order: 3;
        padding-left: 0;
    }

    .image-box img{
      width: 100%;
    }

    .text-box{
       margin-bottom: 20vh;
    }

    .image-box{
        margin-top: 18vh
    }

}
