h2 {
    text-align: center;
    padding-top: 30px;
    width: 60%;
    margin-top: 60px;
}


section {
    display: flex;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;


}

.left-side {
    flex: 1 1 50%;
    padding-left: 8vw;
    padding-right: 4vw;
    display: flex;
    justify-content: space-between;
}

.right-side {
    flex: 1 1 40%;
    padding-left: 4vw;
    padding-right: 8vw;
    border-left: 2px solid silver;

}



/*FORM style*/


.cart-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid silver;
}

.checkout-container img,
.checkout-container p {
    flex: 1 1 35%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

h4 {
    text-align: right;
    font-size: 18px;
    font-weight: 300;
}



.checkout-container img {
    width: 10vw;
    padding: 20px;
}

/*TEXT style*/

footer {
    margin-top: 120px;
}

@media (max-width: 600px) {

    section {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .left-side,
    .right-side {
        flex: 1 1 100%;
        border-left: none;
        padding: 0 30px;
    }



    .right-side {
        width: 100%;
        padding-top: 60px;
        border-top: 2px solid black;
        margin-bottom: 60px;

    }

    h2 {
        width: 100%;
    }

    .left-side p {
        font-size: 12px;
    }

    h4 {
        font-size: 14px;
        margin-bottom: 60px;
        font-weight: 500;
    }


    .submit-reset {
        width: 100%;
        opacity: 1;
        margin-top: 25px;
    }

    label {
        font-size: 16px;
    }

    footer {
        margin-top: 60px;
    }

}
