
h1{
    font-size: 9vw;
    line-height: 7.5vw;
    margin-bottom: 0;
    margin-top: 0;
}

p{
    font-size: 1.5vw;
    padding-top: 0.5vw;
}

.event-container{
    display: flex;
    align-items: center;
    background-color: #fbf3f3;
    border-top: 3px solid black;
    padding-bottom: 80px;
    padding-top: 80px;
}

.text-box{
    flex:1 1 40%;
    padding-left: 12%;
}

.image-box{
    flex:1 1 40%;
    padding-left: 8vw;
}

.image-box img{
    width: 60%;
    box-shadow: 4px 4px 10px 0px;
}

/* EVENT 1*/

.event-1{
    position: sticky;
    top: 0;
    z-index: -1;
    height: 100vh;
    padding-top: 6vw;
}


.scroll-note{
    width: 100%;
    text-align: center;
    background-color: #fbf3f3;
    margin: 0;
    position: fixed;
    font-size: 15px;
    z-index: -1;
    padding-bottom: 2vh;
    bottom: 0;
}


@media (max-width: 600px){
    h1{
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
    }
    
    p{
        font-size: 16px;
       text-transform: none; 
        width: 100%;
        text-align: center;
    }
    
    .event-container{
        flex-wrap: wrap;
        flex-direction: row;
   
    }
    
    .image-box{
        flex:1 1 100%;
        padding-left:0;
        width: 100%;
        padding: 0 30vw;
    }
    .text-box{
        flex: 1 1 100%;
        order: 3;
        padding-left: 0;
        padding: 0 30px;
    }
    
    .image-box img{
      width: 100%;
    }
    
    .event-1 .text-box{
       margin-bottom: 20vh;
    }
    
    .event-1 .image-box{
        margin-top: 10vh
    }
    
    
}

