html{
    background-color: #fbf3f3;
}

h1{
    font-size: 9vw;
    line-height: 7.5vw;
    margin-bottom: 0;
    margin-top: 0;
}

p{
    font-size: 1.7vw;
    text-transform: uppercase;
    padding-top: 0.5vw;
}

.event-container{
    display: flex;
    align-items: center;
    background-color: #fbf3f3;
    border-top: 3px solid black;
    padding-bottom: 80px;
    padding-top: 80px;
}

.text-box{
    flex:1 1 40%;
    padding-left: 12%;
}

.image-box{
    flex:1 1 40%;
    padding-left: 8vw;
}

.image-box img{
    width: 65%;
    box-shadow: 4px 4px 10px 0px;
}

/* EVENT 1*/

.event-1{
    position: sticky;
    top: 0;
    z-index: -1;
    height: 100vh;
    padding-top: 0;
}


.scroll-note{
    width: 100%;
    text-align: center;
    background-color: #fbf3f3;
    margin: 0;
    position: fixed;
    font-size: 17px;
    bottom: 25px;
    z-index: -1;
}

