p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

html {
    font-family: 'PT Sans', sans-serif;
    background-color: #fbf3f3;
}

h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
}

h1,
h2 {
    font-family: 'Assistant', sans-serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

