p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

html {
    font-family: 'PT Sans', sans-serif;
    background-color: #fbf3f3;
}

h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
}

h1,
h2 {
    font-family: 'Assistant', sans-serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}


/************footer***********/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer h4{
  font-size: 1em;
  font-style: bold;
  margin: 0;
}

footer p{
  font-size: 0.8em;
}

footer .iconBox{
	display: flex;
  flex-wrap: wrap;
  width: 80%;
  border-top:solid;
  border-color: #e9d292;
  justify-content: center;
}

footer .iconBox img{
  width: 20px;
  height: 20px;
  margin: 0.5em;
}
