section {
    display: flex;
}

.product {
    width: 100%;
    padding: 2vw 8vw;
}

.product {
    flex-direction: column;
}

.poster{
    flex: 1 1 100%;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 4vw;
}


/*AD SECTION*/
.poster {
    align-items: center;
}

.poster p {
    font-size: 1.5vw;
}

.img-box {
    flex: 1 1 60%;
    padding-right: 4vw;
    margin: 50px 0;

}

.img-box img {
    width: 100%;
}

.text-box {
    flex: 1 1 40%;
    padding-left: 4vw;
    border-left: 2px solid rgb(187, 187, 187);
    margin: 50px 0;
}

/*3ce ad*/
.poster-3ce {
    align-items: center;
}


.poster-3ce p{
    font-size: 1.5vw;
}
.poster-3ce .img-box {
    flex: 1 1 30%;

}

.poster-3ce .img-box img {
    width: 100%;
}

.poster-3ce .text-box {
    flex: 1 1 70%;
    margin: 50px 0;
}

.three-ce {
    margin-top: 0;
    padding-top: 0;
}

/*product list section*/
.product-container {
    display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.product-box {
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
}

.product-box h4 {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    text-align: center;
    width: 160px;
    font-weight: 500;
    color: rgb(46, 46, 46);
}

.product-box p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
}

.product-box a {
    margin-bottom: 35px;
}

@media (max-width: 800px) {

    .poster,
    .poster-3ce {
        flex-direction: column;
        margin-bottom: 30px;
        text-align: center;
    }


    .img-box,
    .text-box {
        flex: 1 1 100%;
        width: 100%;
        margin: 20px 0;
        margin-top: 0;
        border: none;
        padding: 0;
    }

    .text-box p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .text-box h1 {
        font-size: 25px;
    }

    .three-ce .img-box,
    .three-ce .text-box {
        margin: 20px 0;
        margin-top: 0;

    }

    .product {
        padding: 30px;
        margin-top: 40px;
    }

    .product-box p {
        font-size: 16px;
    }

    .product-box h4 {
        font-size: 16px;
        width: 180px;
    }

    .product-box .in-text-link {
        font-size: 15px;
        opacity: 1;
        background-color: var(--orange);
        color: white;
        margin-bottom: 50px;
    }

    .product .img-link {
        height: 160px;
    }

    footer {
        margin-top: 60px;

    }



}

@media (max-width: 500px){
    .product-container{
        flex-direction: column;
    }
}
