.detail{
    display: flex;
    position: relative;
    top: 3vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.information, .sample, .comment{
    flex: 2 1 35%;
    padding:0 8vw;

}

.sample{
    padding: 0;
}

img{
    width: 30vw;
}
.information{
    padding-right: 5vw;
}
.comment{
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    padding-left: 5vw;
    align-items: baseline;
}

h1{
    margin: 0;
}

#review{
    width: 100%;
    padding: 10px 10px;
    background-color: #fbf3f3;
     border: none;    
    border-bottom: 1px solid black;
    opacity: .5;
    margin-top: 10px;
}

#review:hover{
    opacity: 1;
}

#review:focus{
    outline: none;    
    opacity: 1;
}

.comment h4{
    margin-bottom: 10px;
}

/* STAR */
.rate {
    height: 46px;
    padding: 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:2.8vw;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: black;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: black;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: black;
}