html,
body {
    padding: 0;
    margin: 0;
}


nav {
    width: 100%;
    background: #fbf3f3;
    position: fixed;
    top: 0;
    z-index: 999;
}

/* Hide Hamburger */
nav label,
#hamburger {
    display: none;
}

#sg-hamburger {
    display: none;
}




/* Horizontal Menu Items */
.nav-items {
    display: flex;
    justify-content: space-between;
}

nav .left{
    position: fixed;
    padding-top: 8px;
    padding-left:20px;
    width: 100%;
    padding-bottom: 9px;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
}

.nav-items a {
    width: 90px;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

nav .left a{
    font-family: 'Dancing Script', serif;
    font-weight: bold;
    letter-spacing: 3px;
}



.nav-link img{
    width: 20px;

}

@media screen and (max-width: 768px) {

    nav label {
        display: inline-block;
        color: saddlebrown;
        background: transparent;
        font-size: 1.2em;
        padding: 10px;
        position: fixed;
        left: 90vw;
        z-index: 999;


    }

    .nav-items a{
        box-sizing: border-box;
        display: block;
        width: 100%;

    }
    
    nav .left{
    width: 100%;
    background-color: #fbf3f3;
    padding-bottom: 9px;
    z-index: 998;
}


    .nav-items {
        display: none;
        height: 100vh;
        padding-top: 70px;
    }

    nav input:checked ~ .nav-items {
        display: block;
    }


    .nav-items .right{
       flex-direction: column;
    }
}
